.DS_Store
.env
.env.*
!infra/.env.example
!infra/.env.dev.example
.run/
monti-jarvis
coverage.out
apps/customer-web/node_modules
apps/customer-web/build
apps/customer-web/.svelte-kit
node_modules/
packages/*/node_modules/
packages/*/dist/
apps/*/node_modules/
apps/*/.svelte-kit/
apps/*/build/var/
